<div class="mt-4 p-5 bg-dark text-white rounded">
    <h1>JSP Company</h1>
    <hr/>
    <a href="https://blog.naver.com/woasmsshfl">블로그 방문하기</a>
    <p>phone : 010-1234-5678</p>
</div>
</body>

</html>